<header>
    <ul class="nav">
        <li><a id="btn-home" href="#/"><i class="fa fa-home"></i></a></li>
    </ul>
</header>

<div class="container">
    <h3>Добавление нового альбома</h3>
    <form action="#" ng-submit="add()">
        <table>
            <tr>
                <td>
                    <input type="text" ng-model="obj.name" placeholder="Название альбома">
                </td>
                <td class="preview">{{obj.name}}</td>
            </tr>
            <tr>
                <td>
                    <input type="text" ng-model="obj.src_cover" placeholder="Обложка альбома">
                </td>
                <td><img class="icon-prev" src="{{obj.src_cover}}" alt=""></td>
            </tr>
            <tr>
                <td><h4>Картинки</h4></td>
            </tr>
            <tr>
                <td>
                    <input type="text" ng-model="pic">
                </td>
            </tr>
        </table>
        <div>
            <div class="btn btn-primary" ng-click="addNewPic()"><i class="fa fa-plus"></i></div>
        </div>
        <br>
        <div>
            <input type="submit" class="btn btn-danger" value="Создать">
        </div>
    </form>

</div>